.row: form
  .col-lg-11(class='col-xs-9')
    input#daily-name(class="form-control text-center" type='text' placeholder="Give your stand up a name...")
  .col-lg-1(class='col-xs-3')
    button#daily-add-button.form-control(class='btn-large btn-warning') 
      i.glyphicon(class='glyphicon-plus')
