.row
  .col-lg-9(class='col-xs-9')
    input#daily-name(class="form-control text-center" type='text' placeholder="Give your stand up a name...")
  .col-lg-3(class='col-xs-3')
    button#daily-button.form-control(class='btn-large btn-warning') 
      i.glyphicon(class='glyphicon-plus')
