extends layout

block content
  .container
    .row#nickname-row
      include partials/greeting
    .row: .col-lg-12: .panel(class='panel-primary')
      .panel-heading
        h3
          span.label
            i.glyphicon(class='glyphicon-time')
            |  JOIN A DAILY 
      .panel-body
        include partials/daily_new
        hr
        #dailies
          each daily, key in dailies
            -var daily_name = key
            include partials/daily_info
block extra scripts
  script(src='/javascripts/main.js')
