extends layout

block content
  .container
    .row#nickname-row
      include partials/greeting
    .row: .col-lg-12: .panel(class='panel-primary')
      .panel-heading
        h3
          span.label JOIN A DAILY
      .panel-body
        include partials/daily_new
        hr
        #dailies
          // 
            TODO - read a list of dailies
            and for each include a daily_info partial
block extra scripts
  script(src='/javascripts/main.js')
