doctype html
html
  head
    title= title
    meta(name='author', content='mc moe')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css', media='screen')
  body.body-background
    div
      nav.navbar(class='navbar-default nav-background')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-agile')
              span.sr-only Toggle navigation
              each val in [1,2,3]
                span.icon-bar
            a.navbar-brand Agile Apps
          .collapse(class='navbar-collapse navbar-agile')
            ul(class='nav navbar-nav'): li: a(href='http://blog.mcmoe.com/') Blog
            form.navbar-form(class='navbar-right', role='sign-in')
              .form-group
                input.form-control(type='text', placeholder='User')
                input.form-control(type='password', placeholder='Password')
              button.btn(type='submit', class='btn-primary') Sign In

      block content

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.4/firebase.js')
