.nav-background {
    background: url(../images/castle_black.png) repeat;
    box-shadow: 0px 0px 10px black;
}

.body-background {
    background: url(../images/wall.png);
}

@media (max-width: 768px) {
  .navbar-form input {
    margin-top: 5px;
  }
}

.navbar-form input {
  margin-right: 3.5px;
}
